@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.page {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.page__content {
    padding: 40px 35px;
}