.my-form-page {
  display: grid;
  gap: 16px;
}

.my-form {
  width: 350px;
  display: grid;
  gap: 24px;
}

.my-form-item {
  display: grid;
  gap: 8px;
}

.my-form-item-row {
  display: flex;
  gap: 25px;
}

.my-address-row {
  display: flex;
  gap: 37px;
}

.my-footer-buttons {
  display: flex;
  gap: 12px;
}
